/*header*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
body{
    font-family: sans-serif;
}
.header{
    display: flex;
    min-height: 70px;
    background-color: red;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nombre-Header{
    color: black;
}
.logo-Header{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo-Header img {
    height: 50px;
    margin-right: 10px;
}
.links-Header{
    text-decoration: none;
    color: black;
}
.links-Header a {
    font-weight: 600;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}
.links-Header a:hover{
    color: white;
}
/*footer*/

/*Grid index*/
.grid-Padre{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
}
.grid-Padre div{
    padding: 10px;
    background-color: #efcb68;
    display: grid;
    place-items: center;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}
@media (max width:700px) {
    .header{
        flex-direction: column;
    }
    .links-Header{
        padding: 10px 0px;
    }
}

